
/* .header {
    height: 100px;
    width: 960px;
    padding: 10px;
    background-color: white;
    position: relative;
}
*/
.inner-Div {
    height: 70%;
    width: 960px;
    padding: 10px;
    background-color: white;
    margin: 0 auto;
    position: absolute;
}

.bioImage {
    height: 200px;
    width: 200px;
    float: left;
    padding: 5px;
    border-radius: 50%;
    border: px solid black;
}


h2 {
    color: #4aaaa5;
}

body {
    background-color: lightgrey;
}

nav {
/*    float: right; */
    margin: 0 auto;
    padding: 45px;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    text-align: center;
    background-color: white;
    height: 30px;
    width: 960px;
    padding: 10px;
    position: fixed;
    left:0;
    bottom:0;
}

.column {
    float: left;
    width: 180px;
    margin-bottom: 5px;
    padding: 0 50px;
    align-items: center;
}

.container {
    padding: 0 16px;

}

.cardTitle {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4aaaa5;
    vertical-align: middle;
    color: white;
    text-align: center;
    padding: 5px;
}
