.header {
    height: 80px;
    padding: 10px;
    background-color: silver;
    position: relative;
}

.inner-Div {

    width: 100%;
    padding: 10px;
    background-color: white;
    margin: 0 auto;
    position: absolute;
}

.bioImage {
    height: 200px;
    width: 200px;
    float: left;
    padding: 15px;
    border-radius: 50%;

}

div {
    background-color: white;
}

h2 {
    color: orange;
    text-shadow: 2px 2px 2px darkgrey;
}

body {
    background-color: silver;
}

nav {
    margin: 0 auto;
    padding: 45px;
    font-family: 'Baumans', cursive;
}

footer {
    text-align: center;
    background-color: white;
    width: 100%;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
}

.column {
    float: left;
    width: 180px;
    margin-bottom: 5px;
    padding: 0 50px;
    align-items: center;
}